* {
    margin: 0;
    padding: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-color: black;
    cursor: url(cursor-crosshair.png) 16 16, auto;

}

#background {

    max-width: 100%;
    height: auto;
}

.logo-container {

    width: 100%;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
}

#logo {
    margin: 0 auto;
    display: block;
    height: 40vh;
    transform: scale(0.8);
    transition: transform .2s ease-in-out;
}

#logo:hover {
    transform: scale(1.2);

}
