
$players-color: #555555;
$players-bg-color: #303030;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monda', sans-serif;

}

$blue:  #5995DA;
$header-bg-color:  #494949;
$width: 1600px;

body{
    cursor: url(/images/cursor-crosshair.png) 16 16, auto;
    background-color: $players-bg-color;
    background-image: url("/images/background.jpg");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.super-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-container{
    color: $blue;
    background-color: $header-bg-color;
    display: flex;
    justify-content: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    img{ max-height: 80%}
    height: 100px;
}

.header{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
    overflow: hidden;
    a{

        color: $blue;
        text-decoration: none;
        padding: 50px 30px;
        &:hover{
            color: #82afe3;
            background-color: #595959;
        }

    }
}

.sticky{
    height: 60px
}


.player-roll{
    font-weight: bold;
    text-align: left;
    margin: 20px 0;
}


.player-description{
    text-align: justify;
}



.footer{
    display: flex;
    justify-content: space-between;
    margin: auto auto 0 auto;
    min-width: 100%;
    text-align: center;
    color: $blue;
}

.footer-item{

    background-color: #4f4f4f;
    min-height: 50px;
    flex: 1;
}

.footer-two{
    padding: 10px;
    margin: auto;
}

.footer-one,
.footer-three {
    background-color: #494949;
    flex: initial;
    width: 100px;

}






.players-container-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(400px, 0.8fr));
    justify-content: center;
    margin: 0 auto;


}

.players-item-grid{
    border: 1px solid red;
    border-radius: 5px;
    background-color: $players-color;
    text-align: center;
    color: white;
    margin: 2em;
    padding: 1em;
    img{max-width: 80%};
    box-shadow:20px 20px 10px black;

}


































